/** @format */

.blog {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}

.category {
  font-style: italic;
  font-weight: 300;
}
