/** @format */
.mainContainer {
  width: 80%;
  margin: 2rem auto 8rem;
}

.featureContainer {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

.feature {
  align-items: center;
}

.feature:nth-child(even) {
  flex-direction: row-reverse;
}

.featureImg {
  width: 45%;
}

/* responsive: start */
@media screen and (max-width: 700px) {
  .mainContainer {
    width: 90%;
  }

  .featureContainer {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    width: 80%;
  }

  .feature,
  .feature:nth-child(even) {
    flex-direction: column;
    border-bottom: solid 1px var(--light-gray);
    padding-bottom: 4rem;
    margin-bottom: 0 !important;
  }

  .feature:last-child {
    border: none;
  }

  .featureImg {
    width: 100%;
  }
}
/* responsive: end */
