/** @format */
/* table gap */
.productContainer {
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-size: 1.5rem;
  border-right: solid 1px var(--orange-transparent-2);
}

/* column width */
.productContainer > tbody > tr > td:not(.delete):not(.select):not(.money) {
  width: 15rem;
}

.img {
  width: 10rem;
}

/* table header */
.tableHeader > th:not(:last-child) {
  border-bottom: solid;
  padding-bottom: 1rem;
  height: 4rem;
}

.productContainer > tbody > tr > th {
  text-align: left;
}

/* text */
.productTitle {
  width: 80%;
}

.money {
  font-weight: 600;
  width: 10rem;
}

/* btn */
.deleteBtn {
  font-size: 2rem;
}

.delete,
.select {
  width: 6rem;
}

/* checkout section */
.totalContainer {
  flex-grow: 1;
}

.totalTable {
  border: none;
  width: 100%;
  border-spacing: 0 3rem;
  font-size: 1.6rem;
}

.totalTable > .tableHeader > th {
  height: 3rem;
  border-bottom: solid;
}

.totalTable > tr > th,
.totalTable > tr > td:first-child {
  text-align: left;
}

.totalTable > tr > td:last-child {
  text-align: right;
}

.totalTable > tr > td {
  border-bottom: solid 1px var(--gray);
}

.checkoutBtn {
  width: 100%;
  justify-content: center;
}

.total {
  color: var(--orange);
  font-size: 2.4rem;
  font-weight: 600;
}
