/** @format */

.form {
  width: 40%;
}

.formHeader {
  align-items: center;
  justify-content: center;
}

.logo {
  width: 3rem;
  /* margin: auto; */
}

.formTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.4rem;
}

.loginBtn {
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}
