/** @format */

.inputField label {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.4rem;
}

.inputField input,
.inputField textarea {
  width: 100%;
  border: solid 1px black;
  /* border-radius: 3px; */
  height: 4rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.inputField input:focus,
.inputField textarea :focus {
  outline: none;
  border: solid 2px var(--orange);
}
