/** @format */
.productImg,
.productText {
  width: 50%;
}

/* text */
.productText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 15%;
  align-self: flex-start;
}

.price {
  font-size: 3rem;
  font-weight: 700;
}

.price > span {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1rem;
}

.shipment {
  font-size: 1.6rem;
  font-weight: 400;
}

/* amount */
.amount {
  margin: 0 !important;
  gap: 2rem !important;
  align-items: center;
}

.amount > p {
  font-size: 1.4rem;
  font-weight: 500;
}

/* btn */
.btn {
  margin: 0 !important;
  margin-top: 1rem !important;
}

/* desctiption, review */
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btnContainer > button {
  font-size: 1.6rem;
  font-weight: 700;
}

.descripReviewContainer {
  margin: 3rem 6rem;
  margin-bottom: 2rem;
  position: relative;
}

.description {
  margin: 0 7rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}

.reviews > div {
  padding: 1.5rem 0;
}

.reviews > div:not(:last-child) {
  border-bottom: solid 1px var(--orange);
}

/* message box */
.icon {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
