/** @format */

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.pagination > a {
  border-radius: 999px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currPage {
  pointer-events: none;
  background-color: var(--orange);
  color: white !important;
}
