/** @format */
.sideBar {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 15%;
  align-self: flex-start;
}

.productContainer {
  height: fit-content;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.pagination > a {
  border-radius: 999px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currPage {
  pointer-events: none;
  background-color: var(--orange);
  color: white !important;
}

/* responsive: start */
@media screen and (max-width: 765px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 450px) {
  .productContainer {
    grid-template-columns: 1fr 1fr !important;
  }
}
/* responsive: end */
