/** @format */

.formContainer {
  padding: 2rem 0;
  background-image: url("../../../public/jeans-sweater.jpeg");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.form {
  background-color: white;
  padding: 5rem;
  padding-top: 3rem;
  border-radius: 12px;
  border: solid 2px var(--orange);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* responsive: start */
@media screen and (max-width: 620px) {
  .form {
    width: 55%;
  }
}

@media screen and (max-width: 560px) {
  .form {
    width: 65%;
  }
}

@media screen and (max-width: 440px) {
  .form {
    width: 75%;
    padding: 3rem;
  }
}
/* responsive: end */
