/* @format */
.header {
  margin: 0;
  margin-bottom: 2rem;
}

.table {
  border-spacing: 0 1rem;
  margin-bottom: 3rem;
}

/* infor col */
.inforForm {
  gap: 2rem;
}

/* payment */
.paymentLabel {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.noteTxt {
  margin: 0;
}

/* product list */
.productInfor {
  width: 90%;
}

.productTxt {
  font-size: 1.4rem;
  font-weight: 500;
}

/* total */
.total {
  margin-bottom: 2rem;
  width: 100%;
}

/* right aligh for right col */
.total > tbody > tr > td:last-child {
  text-align: right;
}

/* .table.total */

/* highlight total money */
.total > tbody > tr:last-child > td:last-child {
  font-size: 3rem;
  font-weight: 700;
  color: var(--orange);
}

.inputInfor {
}

.ePayment {
}
