/* @format */
.header {
  margin: 0;
  margin-bottom: 2rem;
}

.table {
  border-spacing: 0 1rem;
  margin-bottom: 3rem;
}

/* infor col */
.leftCol {
  border-right: solid 1px var(--orange);
  padding-right: 4rem;
}

.inforForm {
  gap: 2rem;
}

/* payment */
.paymentLabel {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.noteTxt {
  margin: 0;
  margin-top: 1rem;
}

/* product list */
.product > td:not(:last-child) {
  padding-bottom: 1rem;
}

.productInfor {
  width: 100%;
}

.productTxt {
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0;
}

/* total */
.total {
  margin-bottom: 2rem;
  width: 100%;
}

/* right aligh for right col */
.total > tbody > tr > td:last-child {
  text-align: right;
}

/* .table.total */

/* highlight total money */
.total > tbody > tr:last-child > td:last-child {
  font-size: 3rem;
  font-weight: 700;
  color: var(--orange);
}

.buyBtn {
  width: 45%;
  justify-content: center;
  margin: auto;
}

/* responsive: start */
@media screen and (max-width: 770px) {
  .buyBtn {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .checkoutContainer {
    flex-direction: column;
    padding: 0 3rem;
  }

  .leftCol {
    padding: 0;
    border: none;
  }

  .ePayForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .productTxt {
    font-size: 1.6rem;
  }

  .total {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
  }

  .buyBtn {
    width: fit-content;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .checkoutContainer {
    padding: 0 1rem;
  }
}
/* responsive: end */
