/** @format */

.listHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px var(--orange);
  margin: 3rem;
  /* margin-top: 5rem; */
}

.listHeader > h3 {
  margin-bottom: 1rem;
}
