/** @format */
.container {
  text-align: center;
  font-weight: 600;
}

/* img */
.imgContainer {
  position: relative;
}

.imgContainer > img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.container:hover > .imgContainer > img:first-child {
  opacity: 0;
}

/* text */

.title {
  text-shadow: 2px 2px 5px rgb(0 0 0 / 43%);
  margin: 1rem 0;
}

.price {
  font-weight: 500;
  color: rgb(196 83 25);
  font-size: 1.6rem;
}
