/** @format */

/* img */
.imgContainer {
  position: relative;
}

.imgContainer > img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.container:hover > .imgContainer > img:first-child {
  opacity: 0;
}

/* text */

.title {
  transition: all 0.3s;
  margin: 1rem 0;
  font-weight: 600;
}

.container:hover .title {
  text-shadow: 2px 2px 5px rgb(0 0 0 / 43%);
}

.descr {
  color: gray;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.categoryTag {
  font-style: italic;
  text-decoration: underline;
  transition: all 0.3s;
}

.categoryTag:hover {
  color: var(--orange);
}

.price {
  font-weight: 500;
  color: rgb(196 83 25);
  font-size: 1.6rem;
}
