/** @format */

:root {
  --orange: rgb(252, 108, 34);
  --dark-orange-1: rgb(242 82 0);
  --orange-transparent-1: rgba(252, 107, 34, 0.865);
  --orange-transparent-2: rgba(252, 107, 34, 0.788);
  --gray: rgb(88 88 88);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.border-btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: solid 2px var(--orange);
  padding: 1rem 2rem;
  border-radius: 999px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: var(--orange) !important;
  background-color: #fcffee57;
}

.border-btn:hover {
  gap: 2.5rem;
  color: white !important;
  background-color: var(--orange);
}

/* use along with .border-btn */
.border-btn--small {
  padding: 0.7rem 1.2rem;
  font-size: 1.4rem;
}

.fill-btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: solid 2px var(--orange);
  padding: 1rem 2rem;
  border-radius: 999px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: white;
  background-color: var(--orange);
}

.fill-btn:hover {
  color: var(--orange);
  background-color: white;
}

.columnContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img {
  width: 100%;
}

.overflow-container {
  overflow: hidden;
}

.overflow-item {
  transition: all 0.3s;
}

.overflow-container:hover .overflow-item {
  transform: scale(1.2);
}

.orange-text {
  color: var(--orange);
}

.small-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
}
.hidden {
  display: none;
  opacity: 0;
}
