/** @format */

:root {
  --orange: rgb(252, 108, 34);
  --dark-orange-1: rgb(242 82 0);
  --orange-transparent-1: rgba(252, 107, 34, 0.865);
  --orange-transparent-2: rgba(252, 107, 34, 0.788);
  --gray: rgb(88 88 88);
  --light-gray: rgb(211, 211, 211);
  --green: rgb(45, 194, 88);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}

*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.border-btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: solid 2px var(--orange);
  padding: 1rem 2rem;
  border-radius: 999px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: var(--orange) !important;
  background-color: #fcffee57;
  justify-content: center;
}

.border-btn:hover {
  gap: 2.5rem;
  color: white !important;
  background-color: var(--orange);
}

/* use along with .border-btn */
.btn--small {
  padding: 0.7rem 1.2rem;
  font-size: 1.4rem;
}

.fill-btn {
  font-size: 1.6rem;
  font-weight: 700;
  border: solid 2px var(--orange);
  padding: 1rem 2rem;
  border-radius: 999px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: white !important;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-btn:hover {
  color: var(--orange) !important;
  background-color: white;
}

.disable-btn {
  background-color: var(--gray) !important;
  border-color: var(--gray);
  pointer-events: none;
}

.flex {
  display: flex;
}

.columnContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img {
  width: 100%;
}

.overflow-container {
  overflow: hidden;
}

.overflow-item {
  transition: all 0.3s;
}

.overflow-container:hover .overflow-item {
  transform: scale(1.2);
}

.orange-text,
.active {
  color: var(--orange) !important;
}

.gray-text {
  color: var(--gray);
}

.red-txt {
  color: rgb(255, 72, 72);
}

.thin-txt {
  font-size: 1.4rem;
  font-weight: 300;
}

.small-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 999px;
}

.hidden {
  display: none;
  opacity: 0;
}

.tx-hover--orange {
  transition: all 0.3s;
}

.tx-hover--orange:hover {
  color: var(--orange);
}

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 2rem;
}

.copyRight {
  margin: 2rem 0 2rem 4rem;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
}

.icon {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.link {
  font-style: italic;
  text-decoration: underline;
  transition: all 0.3s;
  cursor: pointer;
}

.link:hover {
  color: var(--orange);
}
