/** @format */

/* general layout */
.content {
  width: 80%;
  margin: auto;
  border: solid 3px #cbcbcbd9;
  display: grid;
  grid-template-areas:
    "header header"
    "status-bar status-bar"
    "address payment"
    "products products";
  grid-template-columns: repeat(2, 1fr);
}
/* general layout */

/* header */
.header {
  padding: 1rem;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
  grid-area: header;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* header */

/* order status bar */
.statusBarContainer {
  grid-area: status-bar;
  border-bottom: solid 2px var(--light-gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statusBar {
  position: relative;
  justify-content: space-between;
}

.status {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.status > span {
  font-size: 4rem;
  border: solid 3px;
  padding: 1rem;
  border-radius: 999px;
  background-color: white;
}

.statusProcess {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: var(--green);
  z-index: -10;
  margin: auto;
}

.showStatusBtn {
  border: solid 1px gray;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.arrowIcon {
  color: var(--gray);
  transition: all 0.5s;
}

.statusOpen {
  transform: rotateZ(180deg);
}
/* order status bar: end */

/* order infor: start */
.inforContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address {
  grid-area: address;
  padding: 2rem 3rem;
  border-right: solid 2px var(--light-gray);
}

.payment {
  grid-area: payment;
  padding: 2rem 3rem;
}

.payment > .inforContent > div:not(:last-child) {
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 1rem;
}

/* products */
.orderProducts {
  padding: 2rem 3rem;
  grid-area: products;
  border-top: solid 2px var(--light-gray);
}

.inforHeader {
  margin-bottom: 1rem;
}

.productsContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.product:not(:last-child) {
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 2rem;
}

/* text */
.product > div {
  width: 100%;
  align-items: center;
}

/* price */
.product > div > span,
.total {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--orange);
}

.productTitle {
  font-weight: 600;
}

/* img */
.product > img {
  width: 8rem;
}
/* order infor: end */

/* responsive: start */
@media screen and (max-width: 530px) {
  .statusBar {
    flex-direction: column;
    gap: 1rem !important;
    align-items: center;
    transition: all 1s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .status {
    flex-direction: row;
    width: 100%;
    margin-left: 50%;
  }

  .status > span {
    font-size: 3rem;
    border: none;
    padding: 0.5rem;
  }

  .show {
    max-height: fit-content;
    opacity: 1;
    pointer-events: all;
  }

  .orderProducts {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 90%;
    grid-template-areas:
      "header header"
      "status-bar status-bar"
      "address address"
      "payment payment"
      "products products";
  }

  .address {
    border: none;
    border-bottom: solid 2px var(--light-gray);
  }

  .product {
    gap: 1rem !important;
  }
}

@media screen and (max-width: 350px) {
  .status {
    margin-left: 35%;
  }
}
/* responsive: end */
