/** @format */

/* general layout */
.content {
  width: 80%;
  margin: auto;
  border: solid 3px #cbcbcbd9;
  display: grid;
  grid-template-areas:
    "header header"
    "status-bar status-bar"
    "address payment"
    "products products";
  grid-template-columns: repeat(2, 1fr);
}
/* general layout */

/* header */
.header {
  padding: 1rem;
  align-items: center;
  border-bottom: solid 1px #dcdcdc;
  grid-area: header;
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* header */

/* order status bar */
.statusBar {
  grid-area: status-bar;
  position: relative;
  justify-content: space-between;
  border-bottom: solid 2px var(--light-gray);
  margin-top: 3rem !important;
  padding: 0 4rem 4rem 4rem;
}

.status {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.status > span {
  font-size: 4rem;
  border: solid 3px;
  padding: 1rem;
  border-radius: 999px;
  background-color: white;
}

.statusProcess {
  position: absolute;
  left: 10%;
  width: 80%;
  backgr .status > span {
    font-size: 2.3rem;
  }
  ound-color: var(--green);
  z-index: -10;
  margin: auto;
}
/* order status bar: end */

/* order infor: start */
.inforContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address {
  grid-area: address;
  padding: 2rem 3rem;
  border-right: solid 2px var(--light-gray);
}

.payment {
  grid-area: payment;
  padding: 2rem 3rem;
}

.payment > .inforContent > div:not(:last-child) {
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 1rem;
}

/* products */
.orderProducts {
  padding: 2rem 3rem;
  grid-area: products;
  border-top: solid 2px var(--light-gray);
}

.inforHeader {
  margin-bottom: 1rem;
}

.productsContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.product:not(:last-child) {
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 2rem;
}

/* text */
.product > div {
  width: 100%;
  align-items: center;
}

/* price */
.product > div > span,
.total {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--orange);
}

.productTitle {
  font-weight: 600;
}

/* img */
.product > img {
  width: 8rem;
}
/* order infor: end */

/* responsive: start */
@media screen and (max-width: 580px) {
  .statusBar {
    flex-direction: column;
    gap: 2rem !important;
    align-items: center;
  }

  .status {
    flex-direction: row;
    width: 49%;
    margin: auto;
    transition: all 0.5s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .status > span {
    font-size: 2.5rem;
    border: solid 2px;
  }

  .show {
    max-height: fit-content;
    opacity: 1;
  }
}
/* responsive: end */
