/** @format */

/* message when there is no order */
.emptyMessage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
}

/* right ocl */
.content {
  flex-grow: 1;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.order {
  border: solid 1px var(--gray);
  border-radius: 10px;
}

.orderHeader {
  text-align: right;
  padding: 2rem 0;
  border-bottom: solid 1px rgb(219, 219, 219);
  margin: 0 2rem;
}

.product:not(:last-child) {
  border-bottom: solid 1px rgb(219, 219, 219);
  padding-bottom: 2rem;
}

.productText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  /* margin-bottom: 1rem; */
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.price {
  margin-left: auto;
  align-self: center;
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 500;
}

.orderSumary {
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.orderSumary {
  margin-bottom: 1rem;
}

.orderSumary > span {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 600;
  margin-left: 1rem;
}
