/** @format */

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
  gap: 2rem;
  margin: auto;
}

.icon {
  font-size: 12rem;
}

.txt {
  font-size: 2rem;
}
